@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: rgb(19, 18, 18);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    color: white;
}


.add {
    width: 400px;
    height: 130px;
    margin: auto;
}

.add ion-icon {
    position: relative;
    top: 20px;
    color: darkcyan;
    font-size: 40px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);

}

.todos{
    position: relative;
    width: 650px;
    height: 700px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.credits{
    width: 300px;
    height: 150px;
    margin: auto;
}

.credits p{
    position: relative;
    top: 20px;
    color: white;
    text-align: center;
}



@media only screen and (max-width: 668px) {
    .todos {
      width: 370px;
    }

    .todos .check {
        width: 370px !important;
    }

    .check input{
        width: 250px !important;
    }
  }